.wrapper { height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
			background: #666;
			position: fixed;}

			.menu { background-color: #de342d;  width: 100%; z-index: 1; position: fixed;}
			
			.menu ul { float: right; }

			.menu a { color: white;}

.icon-bar {background-color: black!important;}

.nav li { text-transform: uppercase;
			
			font-size: 1.2em;}


.nav>li>a:hover {text-decoration: underline;}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}


.content { margin-top: 5%; }

.des-text { text-align: center;  font-size: 1.3em; line-height: 25px; margin-top: 1%;}

.des-text h1 { margin-bottom: 2.5%; font-weight: bold;}

.learn-more { width: 250px; margin-top: 2%;}

.projects-teaser { border-top: 1px dotted grey; margin-top: 4%;}

.inner-content { margin-top: 2%;  }

.inner-content p { width: 65%;}



.inner-content span { padding-right: 10px; color: #de342d;}

.header {font-size: 3em;  margin-top: 2%}

	.image-container{ margin-top: 3%;}
.image-container img { display: block; margin: 0 auto;}
.introduction img { display: block; margin: 0 auto;}


.footer-container {background-color: #333; height: 45px; margin-top:4%;}

.footer-container p { color: white; margin-top: .5%;}


.services-container { border-bottom: 1px dotted grey; width: 100%;}
.service-header {margin-top: 5%; margin-bottom: 3%; }
.service-header h1 { font-weight: bold; margin-bottom: 1%;}

.service-content {margin-top: 3%;}
.service-content img { display: block; margin: 0 auto; padding-top: 15px; padding-bottom: 15px;}
.service-content p { font-size: 1.3em; padding: 25px;}

.service-content h3 {color: #de342d; font-weight: lighter; margin-top: 3%;}

.form-container { margin-top: 7%;}

.inner-addon { 
    position: relative; 
}

.contact-container { border-bottom: 1px dotted grey; width: 100%;}
.contact-header { margin-top: 5%; margin-bottom: 3%;}
.contact-header h1 { font-weight: bold; margin-bottom: 1%;}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  12px; vertical-align: middle; }
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  40px; }
.right-addon input { padding-right: 30px; }

legend { color: #de342d ;}

.upper-contact-info { margin-top: 3%;}

   #map-canvas {
        width: 500px;
        height: 400px;
         background-color: #CCC;
      }